.course-grid{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 340px));
    justify-content: center;
    gap:28px;
    margin-top:40px;
}

.course-card{
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    display:flex;
    flex-direction:column;
}

.course-card:hover{
    transform:translateY(-6px);
    box-shadow:0 16px 35px rgba(0,0,0,.15);
}

.course-image-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.course-image{
    width:100%;
    height:100%;
    object-fit:fill;
}

.course-skill{
    display:inline-block;
    background:#c9f3ce;
    color:#064626;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
}

.course-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.course-content h3{
    margin-bottom:5px;
    font-size:24px;
    margin:12px 0;
    font-weight:700;
}

.course-content p{
    font-size:15px;
    color:#51555c;
    line-height:1.8;
}

.course-info{
    display:flex;
    justify-content:space-between;
    margin:14px 0;
    gap:35px;
    color:#555;
    font-size:14px;
}

.course-btn{
    border-radius:50px;
    background:#DF6658;
    font-size:16px;
    font-weight:600;
    width:100%;
    border:none;
    padding:14px;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.course-btn:hover{
    background:#ae3f3f;
    transform:scale(1.02);
}

.course-btn:disabled{
    background:#999;
    cursor:not-allowed;
}

.courses-page{
    direction: rtl;
}

.courses-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10% 1px;
}

.courses-content{
    flex:1;
    max-width: 600px;;
}

.courses-title{
    font-size: 64px;
    color: #0d3b2e;
    margin-bottom: 10px;
}

.courses-subtitle{
    font-size: 25px;
    align-items: center;
    color: #2a5a4a;
    margin-bottom: 20px;
}