.header {
  background: linear-gradient(90deg, #003d2f, #004d3a);
  height: 90px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  color: white;
  font-size: 38px;
  font-weight: bold;
}

/* NAV DESKTOP */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* AUTH BOX */
.auth-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* BUTTONS */
.login-btn {
  border: 1px solid white;
  color: white;
  padding: 12px 24px;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-button {
  background-color: #e5989b;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100vh;
  background: #003d2f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  transition: 0.3s;
  z-index: 2000;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .nav-menu,
  .auth-box {
    display: none;
  }

  .hamburger {
    display: block;
  }
}