.card {
  background-color: #fff9ef;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Vazirmatn';
  margin-top: 100px;
  font-size: 20px;

}

h2 {
  color: #2e4a2f;
  margin-bottom: 12px;
}

.divider {
  height: 2px;
  width: 60px;
  background-color: #2e4a2f;
  margin: 0 auto 20px;
  border-radius: 2px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #2e4a2f;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  min-width: 120px;
  font-family: 'Vazirmatn';

}

.button:hover {
  background-color: #3c5a3e;
}

.option-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
}

.option {
  background-color: #e5f0df;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.option.selected {
  background-color: #2e4a2f;
  color: #fff;
}

.option:hover {
  transform: translateY(-2px);
}

.suggested-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  direction: ltr;
  font-family: 'Vazirmatn';

}

.suggested-buttons .button {
  width: 260px;
  border-radius: 22px;
}

.suggested-option {
  background-color: #f3eedc;
  color: #2e4a2f;
  border: 1px solid #e6dfc8;
}

.suggested-option:hover {
  transform: none;
}

.cancel-light {
  background-color: #f3eedc;
  color: #2e4a2f;
  border: 1px solid #ddd4b8;
}

.cancel-light:hover {
  background-color: #ede6cf;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.option-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

