@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  direction: rtl;
  font-family: 'Vazirmatn';

  background-image: url('../assets/background.png');

  background-size: cover;
  background-position: center 100 px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
}

.page {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #004d3a;
}